/* global css */
body {font-family: 'Baloo Tammudu'; word-wrap: break-word;}


/* header */
header {
    min-height:100vh;
    color: white;
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}
/*navbar css*/
nav .navbar-brand {font-size: 2em;}
nav a {font-size:16px;color:#eee}
.nav>li>a:focus,
.nav>li>a:hover{background:none}
.navbar-toggle{
background-color:#333
}
.navbar-toggle .icon-bar{
  background-color:#eee
}
@media (max-width:767px){.navbar-collapse{background:#333}}
/* fixed navbar css */
.fixed-nav{
    background: #008eff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    z-index: 9999999;
}
.intro {padding-top: 110px; text-transform: capitalize;text-align: center;}

.intro p {font-size: 20px;}

.intro p.hello {font-size: 70px;}

.header-arrow {position:absolute;left:50%;bottom:30px;font-size: 45px;}
.header-arrow a {color: white;}

/* main section css */


/* gallery section  css */

#gallery {position:relative;padding-bottom:100px}
#gallery::after {
    content: "";
    position: absolute;
    border: 30px solid white;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: -60px;
    left: 50%;
    margin-left: -18px;
    z-index: 15
}
.gallery-title {
    font-size: 25px;
    text-align: center;
    margin: 15px 10px;
    position: relative;
}

.gallery-title:before {
    content: "\f1fc";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
    font-size: 20px;
    color: #f74872;
}

.gallery-title:after {
    content: "";
    width: 75px;
    height: 5px;
    background: #f11f81;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -27px;
}

.card {
    background: antiquewhite;
    margin: 0 0 15px 0;
    position: relative;
}

.card-title {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(242, 39, 127, 0.41);
    color: white;
    opacity: 0;
    cursor: pointer;
    transition:all .5s;
}

.card-title a {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 200px;
    padding: 15px;
    transition: .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card-title:hover a {
    margin-top: 45px
}

.card-title:hover {
    opacity: 1;
}

.card-thumbnail img {
    width: 100%;
    height: 230px;
}


/* about us section css */

#about-us {
    text-align:center;
    padding:50px 0;
    text-transform: capitalize;
    color: white;
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow:1px 1px 1px #333;
}
.skill {
    border: 2px solid white;
    border-radius: 3px;
    height:40px;
    line-height:40px;
    min-width:50px;
    padding:0 10px;
    margin:5px 2px;
    font-size:16px;
    cursor:pointer
}

/* our client section css */

.our-client {
    margin-top:100px;
    padding:40px 0;
    background: #7b4397;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.our-client h2.h1{font-size:4em;margin-bottom:20px;color:#eee}
.carousel-inner{width:80%;margin:auto}
.carousel-inner img{float:left;margin-right:20px}
.carousel-control.right,
.carousel-control.left{
  background-image:none;
  background-color:none
}


/* social icons css */
.social-title{
    text-transform: capitalize;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.icons{
    position: absolute;
    left: 50%;
    margin-left: -175px;
    display: inline-block;
}
.social-icons {
    width: 100%;
    min-height: 150px;
    position: relative;
}

.icon {
    display: inline-block;
    font-size: 50px;
    margin-left: 5px;
}

.icon .fa {
    padding: 15px 15px;
    border-radius: 50%;
    border: 5px solid #f9546e;
    transition: .5s ease;
}

.icon i.fa.fa-facebook {
    color: #3b5999;
    padding: 15px 25px;
}

.icon i.fa.fa-twitter {
    color: #55acee;
}

.icon i.fa.fa-codepen {
    color: #212121;
}

.icon i.fa.fa-github {
    color: #6e5494;
    padding: 15px 18px;
}

.icon i.fa.fa-facebook:hover {
    color: white;
    background: #3b5999;
}

.icon i.fa.fa-twitter:hover {
    color: white;
    background: #55acee;
}

.icon i.fa.fa-codepen:hover {
    color: white;
    background: #212121;
}

.icon i.fa.fa-github:hover {
    color: white;
    background: #6e5494;
}


/* contact us section css */

#contact {
    height: 500px;
    margin-top: 120px;
    background: #2b5876;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-transform: capitalize;
}

.contact-title {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 25px;
}

.contact-title:before {
    content: "\f003";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
    font-size: 30px;
    color: white;
}

#contact form {
    width: 40%;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.contact-input {
    position: relative;
    margin: 20px 0;
}

#contact form label {
    color: #fff;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all;
    width: 100%;
    font-weight: 500;
}

#contact form input[type="text"],
textarea {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px 10px 10px 0;
    position: relative;
    display: block;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    outline: 0;
    padding-left: 65px;
}

#contact form input[type="text"]:focus~label,
textarea:focus~label {
    -webkit-transition: all 0.125s ease;
    -moz-transition: all 0.125s ease;
    transition: all 0.125s ease;
    color: #d2d2d2;
    font-size: 10px;
    transform: translateY(-100%);
    font-weight: 500 !important;
}

#contact form textarea {
    max-height: 150px;
    max-width: 495px;
}

#contact form input[type="submit"] {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
}

#contact form textarea:focus~label {
    font-size: 10px;
}


/* copyright section */

.copyright {
    text-align: center;
    padding: 20px 0;
    background: #f84c71;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}

.copyright div {
}

/* fix responsive */

@media only screen and (max-width: 768px) {
    #menu-open {
        display: block;
        float: right;
        margin-right: 30px;
        margin-top: 15px;
        border: 0;
        background: transparent;
        font-size: 28px;
    }
    .menu ul {
        clear: both;
        display: none;
        background: rgba(0, 0, 0, 0.27);
    }
    .menu ul li {
        display: block;
        text-align: right;
        padding-right: 35px;
        transition: .5s ease;
    }
    /* fix client area responsive*/
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        display: block;
        margin: 0 auto;
    }
    .carousel-caption {
        display: block;
        text-align: center;
        width: 100%;
    }
    /* fix social icons css */
    .icons{
    margin-left: -135px;
}
    .social-icons .icon {
        font-size: 15px;
    }
    .icon i.fa.fa-facebook {
        padding: 15px 19px;
    }

    /* contact form fix responsive */

    #contact form {
    width: 75%;
    }
}
